

mat-card{
    display: flex;
    flex: 1 1 auto;
    
}
.footer-card-theme.mat-card {

    height: 187px;
    margin-left: 32px;

}
.footer-card-theme.mat-card img{
    border-radius: 10px 10px 10px 10px;
}