.mat-list-avatar {
    width: 79px;
}
.f-content{
    padding-top: 47px;
}
.f-content p{
    font-size: 12px;
   
}
.f-content a{
    color: #ccc !important;
    text-decoration: none;
}
.footer-logo{
    left: -36px !important;
}
.f-outer-wrap.mat-grid-tile {
    left: calc(10.286% + 0.142857px) !important;
}
.f-outer-wrap-1.mat-grid-tile {
    left: calc(26.571% + 0.285714px) !important;
}
