<mat-grid-list cols="2" class="footer-card">
    <mat-grid-tile>
        <mat-card class="footer-card-theme">
            <div>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
            </div>
            <div>
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                    Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                    originally
                    bred for hunting.
                </p>
            </mat-card-content>
            </div>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                    Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                    originally
                    bred for hunting.
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>


</mat-grid-list>