@import '~@angular/material/theming';

@mixin tile-theme($theme) {
    $accent: map-get($theme, accent);
    $background: map-get($theme, background);
    $background-color: mat-color($background, card);

    .tile {
      /*   @include mat-elevation(2);
        background-color: mat-color($accent); */
      
        
       /*  p {
            color: $background-color;
            font-family: 'Poppins', sans-serif;
            line-height: 2.4rem;
            font-size: 2rem;
            text-decoration-line: underline;
        } */

        
    }
  }

  .tile {
    background-color:#F4F6F9
}

  mat-card{
    display: flex;
    flex: 1 1 auto;
    
}
.footer-card-theme.mat-card {

    margin-right: 13px;

}
.footer-card-img.mat-card-image {

    width: 170px;
    object-fit: cover;
    height: 162px;
    border-radius: 10px 0px 0px 10px;

}
.footer-card-theme.mat-card {
    border-radius: 10px;
    height: 162px;

}
.footer-bottom-content {

    text-align: left;
    font-size: 12px;
    padding: 31px 29px 0 49px;

}
.footer-bottom-content-link{
    text-align: left;
    font-size: 12px;
    
    padding: 5px 7px 0 48px;
}
.bottom-upper-part mat-grid-tile{
    padding-top: calc(26% - 0.5px) !important;
  
}
.container-fluid.bottom-upper-part mat-grid-list {

    padding-bottom: calc(25% - 0.5px) !important;

}


.container-fluid.bottom-upper-part{
    background-color:#F4F6F9;
    padding-right: 22px !important;
    padding-left: 40px !important;
}
.footer-card-theme.mat-card mat-card-content a p {

    font-size: 10px !important;
    font-weight: bold;
    color: #0e90ee;
    font-family: 'poppins';
   
}
.footer-card-theme.mat-card mat-card-content a{
    display: flex;
}
.footer-card-theme.mat-card mat-card-content a:hover{
    text-decoration: none;
    cursor: pointer;
}

