@import '~@angular/material/theming';

.bg-col {
    justify-content: space-between;
}

mat-slide-toggle {
    font-size: .875rem;
    margin-left: 20px;
}


@mixin toolbar-theme($theme) {
    $accent: map-get($theme, accent);
    $background: map-get($theme, background);
    $background-color: mat-color($background, card);
        
        p {
            color: $background-color;
            font-family: 'Pacifico';
            line-height: 2.4rem;
            font-size: 1rem;
        }
    }
   
  
    .mat-grid-list{
        background:#fff;
    }
    .navbar-logo{
        width: calc(24.333% - 0.666667px) !important;
    }
    .navbar-content.mat-tab-group.mat-primary {

        padding-left: 36px;
    
    }
    .navbar-content p{
        font-size: 13px;
        padding-top: 46px;

        padding-left: 5rem;
    }
    hr{
        border-bottom: 3px solid #ccc;
        display: block;
        
        width: 81%;

         margin-left: 43px;
    }
    .search-bar{
        background-color: #f4f4f4 !important;
        padding: 7px 19px;
        color: #9d9d9d;
        left: 21px;
    }
    .search-loc {

        font-size: 13px;
        padding-top: 5px;
        left: 55px;
    }
    .map-loc .mat-icon.notranslate.material-icons.mat-icon-no-color {

        font-size: 18px;
        padding-left: 10px;
    
    }
    .notify.mat-icon.notranslate.material-icons.mat-icon-no-color {

        margin-right: 2rem ;
    
    }
    .mat-line span {

        font-size: 14px;
    
    }
    .header-content.mat-grid-tile p {

        font-size: 13px;
        color: 
    
        #a4a4a4;
    
    }
    .header-content{
    left: -189px !important;
    }
    .fonts-inc-dic {

        padding-left: 15px;
        font-size: 16px;
        padding-bottom: 9px;
        color: #ccc;
    
    }
    .bg-col {
        background-color:  #e3e3e3 !important;
    
    }
    