<div layout="row">
  <mat-grid-list cols="2" fxFlex="20">
    <mat-toolbar>
      <mat-toolbar-row>
        <p>Acessibilidade:</p>
        <span class="fonts-inc-dic">
          <a href="javascript:void(0);" class="increase font-weight-bold pl-3">A+</a> |
          <a href="javascript:void(0);" class="decrease">A-</a>
        </span>
        <img src="../assets/images/questions-mark.png" width="25"> <span class="pl-2">Duvidas </span>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-grid-list>
</div>

<mat-grid-list cols="3" rowHeight="75px" style="justify-content: space-between;">
  <mat-grid-tile>
    <mat-list>
      <mat-list-item>
        <img mat-list-avatar src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Desc 1">
      </mat-list-item>
    </mat-list>
    <mat-tab-group>
      <mat-tab label="Club de Vantegans"> </mat-tab>
    </mat-tab-group>

  </mat-grid-tile>
  <mat-grid-tile>
    <mat-slide-toggle [checked]="isDarkTheme | async" labelPosition="before" (change)="toggleDarkTheme($event.checked)">
      Dark theme</mat-slide-toggle>
    <button mat-button ng-click="ctrl.initiateSearch()" backgroud-color="primary">
      <span>buscar em clube de Vantegans..</span>
      <mat-icon>search</mat-icon>
    </button>

  </mat-grid-tile>
  <mat-grid-tile>
    <mat-icon matBadge="15" matBadgeColor="warn">notifications_none</mat-icon>
    <span class="cdk-visually-hidden">
      Example with a home icon with overlaid badge showing the number 15
    </span>
    <mat-list>
      <mat-list-item>
        <img mat-list-avatar src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="user 1">
        <p mat-line>
          <span>An awesome description</span>
        </p>
      </mat-list-item>
    </mat-list>
    <button mat-button>...</button>


  </mat-grid-tile>


</mat-grid-list>