.login-img{
    height: 100%;
    width: 100%;
    object-fit:cover;

}

.login-form{
    padding: 7rem;
    text-align: left;

}
.login-logo {

    text-align: center !important;

}
.login-logo img{
width: 75px;
position: fixed;
margin-top: 14px;
}

.example-container{
    display: flex;
    flex-direction: column;
    
}
.login-form p {

    font-size: 16px;
    font-weight: unset;

}
.enter-head {

    font-size: 26px;
    font-weight: bold;

}
.pass-forgot{
    display: flex;
    margin-left: 36rem;
}
.pass-forgot mat-icon {

    color:  #0E90EE;
    font-size: 20px;

}
.mat-button{
    background-color: #0E90EE !important;
    border-radius: 9px;
    padding: 12px;
    border: 2px solid #0e90ee;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-top: 65px;
}

.log-help {
    display: flex;
}
.log-bottom-content {
    text-align: center;
    padding-top: 83px;
    color: #ccc;
    font-size: 10px;
}
.log-bottom-content p{
    color: #ccc;
    font-size: 13px;
}
.log-help{
    
    margin-left: 17rem;
}
.log-help mat-icon{
    font-size: 22px;
}
.log-content {
    margin-top: 5rem;
}