<!-- <header>
  <h1 class="mat-display-2">Dashboard</h1>
  <button mat-fab>
    <mat-icon>menu</mat-icon>
  </button>
</header>
<mat-slide-toggle [checked]="isDarkTheme | async" (change)="toggleDarkTheme($event.checked)">Dark theme
</mat-slide-toggle> -->
<!-- <div class="flex-content"> -->
<div>
  <!-- <td-tile *ngFor="let tile of tiles">{{ tile }}</td-tile> -->
  <td-slider></td-slider>
</div>
<div>
  <td-theme-slider></td-theme-slider>
  <td-category-slider></td-category-slider>
 
</div>
<div>
  <td-themecards></td-themecards>
  <td-tile></td-tile>
</div>