.container{
   
    padding: 2rem;
}
.result-container {
    display: flex;
}
.order-filter {

    display: flex;
    margin-left: 47rem;

}
.result-container h2 {

    font-weight: bold;
    font-size: 20px;
    color:#3b3d4f;

}
.order-filter p {

    
    font-size: 14px;
    font-weight: normal;
    padding-top: 15px;

}

order-filter p {

    padding-right: 31px;
    font-size: 14px;
    font-weight: normal;
    padding-top: 15px;

}

   

.section{
    background-color: #f4f6f9 !important; 
}