<div class="section">
    <div class="container">
        <div class="theme-slider">
            <p class="heading">Team Especials</p>
            <div id="myCarousel1" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <mat-grid-list class="theme-slider-card" cols="3">
                            <mat-grid-tile class="grid-fix">
                                <mat-card class="card-resolution">
                                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                        alt="Photo of a Shiba Inu">
                                    <mat-card-content>
                                        <div class="carousel-caption text-left py-lg-5 py-md-3">
                                            <p class="card-content">automotivo</p>
                                        </div>
                                    </mat-card-content>

                                </mat-card>
                            </mat-grid-tile>
                            <mat-grid-tile class="grid-fix">
                                <mat-card class="card-resolution">
                                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                        alt="Photo of a Shiba Inu">
                                    <mat-card-content>
                                        <div class="carousel-caption text-left py-lg-5 py-md-3">
                                            <p class="card-content">automotivo</p>
                                        </div>
                                    </mat-card-content>

                                </mat-card>
                            </mat-grid-tile>
                            <mat-grid-tile class="grid-fix">
                                <mat-card class="card-resolution">
                                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                        alt="Photo of a Shiba Inu">
                                    <mat-card-content>
                                        <div class="carousel-caption text-left py-lg-5 py-md-3">
                                            <p class="card-content">automotivo</p>
                                        </div>
                                    </mat-card-content>

                                </mat-card>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>

                    <div class="item">
                        <mat-grid-list class="theme-slider-card" cols="3">
                            <mat-grid-tile class="grid-fix">
                                <mat-card class="card-resolution">
                                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                        alt="Photo of a Shiba Inu">
                                    <mat-card-content>
                                        <div class="carousel-caption text-left py-lg-5 py-md-3">
                                            <p class="card-content">automotivo</p>
                                        </div>
                                    </mat-card-content>

                                </mat-card>
                            </mat-grid-tile>
                            <mat-grid-tile class="grid-fix">
                                <mat-card class="card-resolution">
                                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                        alt="Photo of a Shiba Inu">
                                    <mat-card-content>
                                        <div class="carousel-caption text-left py-lg-5 py-md-3">
                                            <p class="card-content">automotivo</p>
                                        </div>
                                    </mat-card-content>

                                </mat-card>
                            </mat-grid-tile>
                            <mat-grid-tile class="grid-fix">
                                <mat-card class="card-resolution">
                                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                        alt="Photo of a Shiba Inu">
                                    <mat-card-content>
                                        <div class="carousel-caption text-left py-lg-5 py-md-3">
                                            <p class="card-content">automotivo</p>
                                        </div>
                                    </mat-card-content>

                                </mat-card>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>

                </div>

                <a class="left carousel-control" href="#myCarousel1" data-slide="prev">
                    <div class="left carousel-controls">
                        <button class="MS-left team-crousel-arrows"><img src="../assets/images/left-arrow.png"
                                width="30"></button>
                    </div>
                </a>
                <a class="right carousel-control" href="#myCarousel1" data-slide="next">
                    <button class="MS-right team-crousel-arrows"><img src="../assets/images/right-arrow.png"
                            width="30"></button>
                </a>

            </div>
        </div>
        <div class="theme-slider">
            <p class="heading">Categories</p>
            <div id="myCarousel2" class="carousel slide" data-ride="carousel">


                <div class="carousel-inner category">
                    <div class="item active">
                        <mat-grid-list cols="8" [gutterSize]="'0px'">
                            <mat-grid-tile class="circle">
                                <mat-card class="category-theme">
                                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                        alt="Photo of a Shiba Inu">
                                    <mat-card-content>
                                        <p>
                                            automotivo
                                        </p>
                                    </mat-card-content>
                                </mat-card>

                            </mat-grid-tile>
                            <mat-grid-tile class="circle">
                                <mat-card class="category-theme">
                                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                        alt="Photo of a Shiba Inu">
                                    <mat-card-content>
                                        <p>
                                            automotivo
                                        </p>
                                    </mat-card-content>
                                </mat-card>
                            </mat-grid-tile>
                            <mat-grid-tile class="circle">
                                <mat-card class="category-theme">
                                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                        alt="Photo of a Shiba Inu">
                                    <mat-card-content>
                                        <p>
                                            automotivo
                                        </p>
                                    </mat-card-content>

                                </mat-card>
                            </mat-grid-tile>
                            <mat-grid-tile class="circle">
                                <mat-card class="category-theme">
                                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                        alt="Photo of a Shiba Inu">
                                    <mat-card-content>
                                        <p>
                                            automotivo
                                        </p>
                                    </mat-card-content>

                                </mat-card>
                            </mat-grid-tile>
                            <mat-grid-tile class="circle">
                                <mat-card class="category-theme">
                                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                        alt="Photo of a Shiba Inu">
                                    <mat-card-content>
                                        <p>
                                            automotivo
                                        </p>
                                    </mat-card-content>

                                </mat-card>
                            </mat-grid-tile>
                            <mat-grid-tile class="circle">
                                <mat-card class="category-theme">
                                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                        alt="Photo of a Shiba Inu">
                                    <mat-card-content>
                                        <p>
                                            automotivo
                                        </p>
                                    </mat-card-content>

                                </mat-card>
                            </mat-grid-tile>
                            <mat-grid-tile class="circle">
                                <mat-card class="category-theme">
                                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                        alt="Photo of a Shiba Inu">
                                    <mat-card-content>
                                        <p>
                                            automotivo
                                        </p>
                                    </mat-card-content>

                                </mat-card>
                            </mat-grid-tile>
                            <mat-grid-tile class="circle">
                                <mat-card class="category-theme">
                                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                        alt="Photo of a Shiba Inu">
                                    <mat-card-content>
                                        <p>
                                            automotivo
                                        </p>
                                    </mat-card-content>

                                </mat-card>
                            </mat-grid-tile>

                        </mat-grid-list>
                    </div>

                    <div class="item ">
                        <mat-grid-list cols="8" [gutterSize]="'0px'">
                            <mat-grid-tile class="circle">
                                <mat-card class="category-theme">
                                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                        alt="Photo of a Shiba Inu">
                                    <mat-card-content>
                                        <p>
                                            automotivo
                                        </p>
                                    </mat-card-content>
                                </mat-card>

                            </mat-grid-tile>
                            <mat-grid-tile class="circle">
                                <mat-card class="category-theme">
                                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                        alt="Photo of a Shiba Inu">
                                    <mat-card-content>
                                        <p>
                                            automotivo
                                        </p>
                                    </mat-card-content>
                                </mat-card>
                            </mat-grid-tile>
                            <mat-grid-tile class="circle">
                                <mat-card class="category-theme">
                                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                        alt="Photo of a Shiba Inu">
                                    <mat-card-content>
                                        <p>
                                            automotivo
                                        </p>
                                    </mat-card-content>

                                </mat-card>
                            </mat-grid-tile>
                            <mat-grid-tile class="circle">
                                <mat-card class="category-theme">
                                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                        alt="Photo of a Shiba Inu">
                                    <mat-card-content>
                                        <p>
                                            automotivo
                                        </p>
                                    </mat-card-content>

                                </mat-card>
                            </mat-grid-tile>
                            <mat-grid-tile class="circle">
                                <mat-card class="category-theme">
                                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                        alt="Photo of a Shiba Inu">
                                    <mat-card-content>
                                        <p>
                                            automotivo
                                        </p>
                                    </mat-card-content>

                                </mat-card>
                            </mat-grid-tile>
                            <mat-grid-tile class="circle">
                                <mat-card class="category-theme">
                                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                        alt="Photo of a Shiba Inu">
                                    <mat-card-content>
                                        <p>
                                            automotivo
                                        </p>
                                    </mat-card-content>

                                </mat-card>
                            </mat-grid-tile>
                            <mat-grid-tile class="circle">
                                <mat-card class="category-theme">
                                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                        alt="Photo of a Shiba Inu">
                                    <mat-card-content>
                                        <p>
                                            automotivo
                                        </p>
                                    </mat-card-content>

                                </mat-card>
                            </mat-grid-tile>
                            <mat-grid-tile class="circle">
                                <mat-card class="category-theme">
                                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                        alt="Photo of a Shiba Inu">
                                    <mat-card-content>
                                        <p>
                                            automotivo
                                        </p>
                                    </mat-card-content>

                                </mat-card>
                            </mat-grid-tile>

                        </mat-grid-list>
                    </div>
                </div>

                <a class="left carousel-control" href="#myCarousel2" data-slide="prev">
                    <div class="left carousel-controls">
                        <button class="MS-left category-crousel-arrows"><img src="../assets/images/left-arrow.png"
                                width="30"></button>
                    </div>
                </a>
                <a class="right carousel-control" href="#myCarousel2" data-slide="next">
                    <button class="MS-right category-crousel-arrows"><img src="../assets/images/right-arrow.png"
                            width="30"></button>
                </a>
            </div>
        </div>
    </div>
</div>