
  @import '~@angular/material/theming';


  @mixin theme-slider-theme($theme) {
    $accent: map-get($theme, accent);
    $background: map-get($theme, background);
    $background-color: mat-color($background, card);

    
    .theme-slider {
        /* @include mat-elevation(2); */
        background-color: mat-color($accent); 
        padding: 8rem; 
      /*   min-height: 200px;
        min-width: 200px; */
        
        p {
            color: $background-color;
            font-family: 'Roboto';
            line-height: 2.4rem;
            font-size: 2rem;
            text-decoration-line: underline;
        }
        .container{
            min-height: 200px;
            min-width: 200px;
        }
    }
    
  }


  
