<div class="container-fluid bottom-upper-part">

    <mat-grid-list cols="2">
      <mat-grid-tile>
        <mat-card class="footer-card-theme">
          <div>
            <img mat-card-image class="footer-card-img" src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
          </div>
          <div>
            <mat-card-content>
              <p class="footer-bottom-content">
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                Japan.

              </p>
              <a>
                <p class="footer-bottom-content-link">The Shiba Inu is the smallest</p>
              </a>
            </mat-card-content>
          </div>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="footer-card-theme">
          <div>
            <img mat-card-image class="footer-card-img" src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
          </div>
          <div>
            <mat-card-content>
              <p class="footer-bottom-content">
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                Japan.

              </p>
              <a>
                <p class="footer-bottom-content-link">The Shiba Inu is the smallest</p>
              </a>
            </mat-card-content>
          </div>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
 
</div>